:root {
  --main-orange: #EC6D5B;
  --main-blue: #407BFF;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-family: 'Work Sans', sans-serif;
  color: #263238;
  font-size: 14px;
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.input-class {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #B9B9D1;
}

.title-text {
  font-weight: 600;
  font-size: 22px;
}

.bold-text {
  font-weight: 700;
}

textarea {
  resize: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.main-button {
  padding: 12px 24px;
  border-radius: 10px;
  height: 48px;
  width: fit-content;
  color: #263238;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0FB78F;
  border: 0px;
  color: #FAFAFA;
}

table {
  border-collapse: collapse;
  padding: 16px 8px;
}

thead {
  text-transform: uppercase;
  padding: 16px 8px;
  border-bottom: 1px solid #DEDEEC;
  font-size: 12px;
  font-weight: 500;
  height: 58px;
}

td {
  padding: 16px 8px 0px 8px;
}

input:disabled {
  background-color: #F1F1FA !important;
}

input:hover, 
input:focus, 
textarea:hover, 
textarea:focus {
  background-color: #FAFAFA;
}

@media (max-width: 900px) {
  .display-desktop {
    display: none !important;
  }

  .decrease-padding {
    padding-right: 12px !important;
    padding-left: 12px !important;
  }
} 

@media (min-width: 901px) {
  .display-mobile {
    display: none !important;
  }
} 